<body>
    <div id="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" style="color: #777777;" href="#">gracias</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #777777;" href="auth.html">login<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #777777;" href="auth.html">login<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #777777;" href="auth.html">login<span
                                class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="title">
            <h1>gracias</h1>
        </div>

        <div class="row">
            <div class="section1 col-lg-4 col-sm-12">
                <h1>why <br>gratitude <br> matters</h1>
            </div>
            <div class="section2 col-lg-4 col-sm-12">
                <h2>grateful people are often happier and healthier.</h2>
            </div>
            <div class="section3 col-lg-4 col-sm-12">
                <h3>gratitude is a skill you can improve, by simply writing down a few things you are grateful for, each
                    day.</h3>
                <div id="button1">
                    <a href="auth.html">let's get started!</a>
                </div>
            </div>
        </div>
    </div><!--end of container-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>