
<div class="section1">
    <h1>Why does Gratitude matter?</h1>
</div>

<div class="section2">
    <ul>
        <li>It allows you notice the positives in the present</li>
        <li>It blocks toxic emotions (regret, resentment, envy)</li>
        <li>It makes you more stress resilient</li>
        <li>It strengthens social ties and self worth</li>
    <ul>
</div>

<div class="section3">
    <p>Gratitude is a skill you can improve, by simply writing down a few things you are grateful each day.</p>
    <button>Let's get started</button>
</div>
