
<div class="section1">
    <h1>Why does Gratitude matter?</h1>
</div>

<div class="section2">
    <p>Grateful people are often happier and healthier</p>
</div>

<div class="section3">
    <h2>Gratitude is a skill you can improve, by simply writing down a few things you are grateful each day.</h2>
    <button>Let's get started</button>
</div>