*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body, #container{
    width: 100%;
}


.row{

    height: 50vh;
    padding-top: 10%;
}


.section1{
    height: 50vh;
    background: #f96e91;
}

.section2{
    height: 50vh;
    background: #ffdd94;
}

.section3{
    height: 50vh;
    background: #77dad5;
}

h1{
    font-size: 100px;
}

@media screen and (max-width: 1000px) {
  .row {
    padding-top: 0;
  }

  
}